<div class="d-flex justify-content-between" style="width: 85%; margin:0 auto; font-size:12px;">
  <p class="text-center">
    <span style="color:#007bff"><%=allUsers%></span> REGISTERED
  </p>
  <p class="text-center">
    <span style="color:#007bff"><%=onlineUsers%></span> ONLINE
  </p>
</div>