<form class="container" action="/login" method="POST" autocomplete="off">
  <h3 class="text-center">Login</h3>
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="User Name" autocomplete="username" required />
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Enter Password"
      autocomplete="current-password" required />

  </div>
  <p class="btn-para"><button class="btn btn-primary">LOGIN</button></p>
  <p>If you don't have an account go <a href="/register">Register</a></p>
</form>