<div id="welcome-page" class="container">
  <h3 class="text-center"">Welcome to</h1>
  <h1 class=" text-center">ChatBar</h1>
    <p>
      <a role="button" class="btn btn-primary btn-block" href="/register">REGISTER</a>
    </p>
    <p>
      <a role="button" class="btn btn-primary btn-block" href="/login">LOGIN</a>
    </p>
</div>