<div class="container-fluid">
  <img src="<%=photo.url%>" alt="<%=currentUser.username%>'s Photo" class="img-fluid single-photo">
  <p class="mt-3"><a href="/gallery/<%=currentUser.id%>" class="btn btn-primary"><i class="fas fa-backward"></i> BACK
  </p></a>
</div>