<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top container">
  <a class="navbar-brand" href="#">Chatbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if(!user){%>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <%}else{%>
      <li class="nav-item">
        <a class="nav-link" id="user-name" href="/user/profile/<%= user.id %>"><%= user.username %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messages/<%= user.id %>">Mailbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <%}%>
    </ul>
  </div>
</nav>
<a href="http://localhost:3000/messages/send/5e4b08cd26599d230c93680c">Mail oghusky</a>
<a href="http://localhost:3000/messages/send/5e4b5a7b47a4591cd0abc785">Mail chicken</a>
<a href="http://localhost:3000/messages/send/5e5e933ad11c761db09d433d">Mail ljcraft12</a>