:root{
  --main-white: #fefefe;
  --lighter-gray: #eeeeee;
  --light-gray: #e0e0e0;
  --dark-gray: #2e2e2e;
  --main-black: #212121;
  --blue: #007bff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, 
body{
  width: 100%;
}
body{
  background-color: var(--main-black);
  color: var(--main-white);
}
/* all btn classes */
.btn, 
.btn:hover, 
.btn:focus{
  border-radius: 0 !important;
  outline:none;
  border: none;
}
/* navbar */
nav.navbar{
  background-color: var(--main-black) !important;
}
nav.navbar button.navbar-toggler{
  border: none;
  outline: none;
}
nav.navbar a.navbar-brand,
nav.navbar ul.navbar-nav li.nav-item a.nav-link{
  color: var(--main-white);
}
nav.navbar a.navbar-brand{
  font-weight: 700;
}
nav.navbar a.navbar-brand .blurb-brand{
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 800;
}

span.navbar-toggler i.fas{
  color: var(--main-white);
}
/* navbar ends */
#main-content{
  margin-top: 70px;
  padding: 0;
}
/* welcome page */
#welcome-page{
  background-color: var(--main-black);
  padding: 1rem;
  width: 50%;
  margin-top:5%
}
#welcome-page p{
  text-align: center;
}
/* end welcome page */
/* all users */
div.allusers-row div.user-card-div{
  width: 50%;
}

div.allusers-card{
  background: var(--dark-gray);
  color: var(--blue);
}
div.allusers-row a,
div.allusers-row a:hover{
  text-decoration: none;
}
div.allusers-card div.card-body {
  background-color: var(--main-black)
}
div.allusers-card div.card-body h5.card-title{
  margin-bottom: 0;
}
div.allusers-card div.card-body h5.card-title,
div.allusers-card div.card-body p.card-text{
  font-size: .8rem !important;
}
/* end all users */
/* choose chat */
#choose-chat{
  padding: 0 1rem;
}
#choose-chat p{
  margin: 0;
  background-color: var(--dark-gray);
}
#choose-chat p a{
  font-weight: bold;
  text-decoration: none;
  color: var(--main-white);
}
#choose-chat p.chat-safe-warning{
  background-color: var(--blue);
  color: var(--main-black);
  letter-spacing: 1px;
  font-weight: 500;
}
#choose-hr{
  margin: .25rem;
}

/* end choose chat */

/* chat styles */
.message-div{
  position: relative;
  display: block;
  margin: .5rem 0;
}

.msg-inline-wrap{
  display: flex;
}
.msg-img-wrap{
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-img{
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
}
.msg-para-div{
  padding: .5rem .5rem;
  background-color: var(--main-white);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .15);
}
div.msg-para-div p{
  line-height: 16px;
  padding: 0;
  font-size: 1.2rem;
}
.msg-para-div > p{
  margin: 0;
  padding: 0;
}
.msg-para-div{
  background-color: var(--main-black);
  color: var(--main-white);
}
#user-image{
  display: none;
}
#bottom-window::before{
  margin: 0rem;
  content:"";
  display: block;
}
#leave-btn{
  text-decoration: none;
  color: var(--main-white);
}
#leave-btn:active{
  text-decoration: none;
}
#chat-window{
  height: 80vh;
  overflow-y: auto;
  position: relative;
  background-color: var(--dark-gray);
}
#room-name{
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-top: -2rem;
}
#output{
  padding: .5rem;
  width: 100%;
  margin: 0 auto;
}
#chat-input{
  margin-bottom: 2.5rem;
  background-color: var(--main-black);
  color: var(--main-white);
}
.para-msg::after{
  display: block;
}
.para-msg img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
span.msg{
  background: var(--main-white);
  padding: .25rem .5rem;
  margin: 10px 0;
  border-radius: 2px;
}
span.chat-name{
  background: var(--main-white);
  padding: .25rem .5rem;
  margin: 10px 0;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .15);
}
#message-input,
#message-input:focus{
  padding-left: .5rem;
  background-color: var(--main-black);
  color: var(--main-white);
  outline: none;
  border:none;
  border-bottom: 1px solid white;
}
/* end chat styles */
/* login and register */
.btn-para{
  text-align: right;
}
/* end login and register */
/* forms */
form{
  background-color: var(--main-black);
  padding: 1rem 0;
  width: 50% !important;
  margin-top: 5%;
}
/* end forms */

/* profile */
section.profile header {
      background: var(--blue);
      height: 18rem;
      text-align: center;
    }

    section.profile header h3 {
      color: #fefefe;
      font-weight: 400;
      padding-top: 3rem;
      margin-bottom: 0;
    }

    section.profile header h1 {
      color: #fefefe;
      font-weight: 800;
      margin-bottom: 0;
    }

    section.profile div.user-img {
      position: relative;
      padding: 0;
      margin: 0;
    }

    section.profile div.container-fluid {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    div.user-img div.container-fluid img{
      border: 7px solid var(--blue);
      margin: 0;
      padding: 0;
      display: block;
      margin: 0 auto;
      border-radius: 50% !important;
      width: 15rem;
  }
    section.profile i.fa-camera {
      position: absolute;
      top: 10%;
      left: 59%;
      color: rgb(255, 255, 255);
      padding: 1rem;
      background-color: rgba(0, 0, 0, .7);
      font-size: 1.3rem;
      border-radius: 50%;
    }

    section.profile main {
      background-color: #2e2e2e;
      color: #fefefe;
    }

    section.profile .pre-info {
      height: 9rem;
    }

    section.profile .edit-pro {
      background-color: var(--blue);
      color: #fefefe;
    }

    section.profile .user-info {
      text-align: center;
    }

    section.profile .user-name {
      color: var(--blue);
      font-weight: 800;
    }

    section.profile .user-bio {
      padding: 1rem;
      text-align: left;
      max-width: 55% !important;
      margin: 0 auto;
    }

    section.profile h3.user-links {
      margin: 1rem 0;
    }

    section.profile h3.user-links button.btn {
      background-color: var(--blue);
      color: #fefefe;
      width: 3.3rem;
      height: 3.3rem;
      font-size: 1.3rem;
      border-radius: 50% !important;
    }
    section.profile h3.user-links p.text-center button.btn{
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      width: 10rem;
      font-size: 1rem;
      padding:0;
      height: 2.7rem;
    }
    section.profile main p.text-center.mt-3 a button{
      width: 8rem;
    }
/* end profile */

/* gallery */
h2.no-photos-header{
  color:rgba(255,255,255,0.4)
}
label.photo-likes{
  font-weight: bold;
}
img.gallery-photo{
  display: block;
  margin: 0 auto;
}
button#make-photo{
  border: 1px solid var(--blue);
}
/* end gallery */

/* single photo */
img.single-photo{
  display: block;
  margin: 0 auto;
}
/* end single photo */

/* add photo */
form.add-photo{
  padding-left: 2rem;
}
/* end add photo */

/* cookie popup */
.cookie-banner{
    width: 50%;
    text-align: center;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 1rem;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.4);
}
.cookie-banner p{
    padding: 0;
    margin: .5rem 0;
}
.cookie-banner > p > a, #policy-header{
    text-decoration: underline;
}
#close{
    color: var(--main-white);
    background-color: var(--blue);
    cursor: pointer;
    width: 6rem;
}
/* end cookie popup */

/* footer */
footer{
  text-align: center;
  background-color: var(--main-black)
}
footer p span.blurb-footer{
  color: var(--blue);
}
/* end footer */

/* media 1024px */
@media only screen and (max-width: 1024px){
  div.allusers-row div.user-card-div div.img-div{
    height: 15rem;
  }
}
/* media 995px */
/* @media only screen and (max-width: 995px){
  div.allusers-row div.user-card-div div.img-div{
    height: 15rem;
  }
} */

/* media 768px */
@media only screen and (max-width: 875px){
  form{
    width: 100% !important;
  }
  section.profile i.fa-camera {
    left: 62%;
  }
  div.allusers-row div.user-card-div div.img-div{
    height: 21rem;
  } 
}
/* end media 768px */
/* media 450px */
@media screen and (max-width: 450px) {
  div.allusers-row div.user-card-div div.img-div{
    height: 14rem;
  } 
}
/* media 425px */
@media screen and (max-width: 425px) {
      section.profile .container {
        padding: 0;
      }

      section.profile i.fa-camera {
        left: 70%;
      }

      section.profile .user-bio {
        max-width: 70% !important;
      }
      div.allusers-row div.user-card-div div.img-div{
        height: 10rem;
      } 
      .cookie-banner{
        width: 100%;
      }
    }

/* end media 425px */

/* media 414px */
@media only screen and (max-width: 414px){
  #room-name{
    font-size: 1.1rem;
  }
  #chat-window{
    height: 67vh;
  }
  div.allusers-row div.user-card-div div.img-div{
    height: 12rem;
  } 
}
/* end media 414px */

/* media 375px */
@media only screen and (max-width: 375px){
  div.allusers-row div.user-card-div div.img-div{
    height: 11rem;
  } 
}
/* emdmedia 375px */

/* media 320px */
@media only screen and (max-width: 320px){
  #room-name{
    font-size: 1.1rem;
  }
  #chat-window{
    height: 65vh;
  }
  section.profile i.fa-camera {
        left: 80%;
  }
  section.profile .user-bio {
    max-width: 95% !important;
  }
  div.allusers-row div.user-card-div div.img-div{
    height: 9rem;
  } 
}
/* end media 320px */


