<section id="chat-box">
  <div>
    <span id="user-image"><%= user.userimgname %></span>
  </div>
  <p class="text-center"><button class="btn btn-primary btn-sm"><a href="/chat" id="leave-btn">LEAVE</a></button></p>
  <%-include("../partials/chatroom") -%>
  <div id="chat-input" class="d-flex fixed-bottom container">
    <input type="text" placeholder="Enter a message..." id="message-input" class="flex-grow-1" required />
    <button class="btn btn-primary" id="chat-submit">SEND</button>
  </div>
</section>