<section id="chat-box">
  <div>
    <span id="user-image"><%= user.userimgname %></span>
    <span id="current-user" style="display: none;"><%= user.id %></span>
  </div>
  <p class="text-center"><button class="btn btn-primary btn-sm"><a href="/chat" id="leave-btn">LEAVE</a></button></p>
  <%-include("../partials/chatroom") -%>
  <div id="chat-input" class="d-flex fixed-bottom container pt-2">
    <input type="text" placeholder="Enter a message..." id="message-input" class="flex-grow-1 mx-2" required />
    <button class="btn btn-outline-primary" id="chat-submit"><i class="fas fa-paper-plane"></i></button>
  </div>
</section>