<div class="mt-3" id="choose-chat">
  <% chatRooms.map(function(room, i){%>
  <p class="py-1">
    <a class="pl-3" href="/chat/<%= room.toLowerCase() %>"> <%= room.toUpperCase() %></a>
  </p>
  <hr id="choose-hr" />
  <%})%>
</div>