<div id="choose-chat" class="pb-5">
  <h1 class="text-center">CHATROOMS</h1>
  <p class="chat-safe-warning p-3">CHAT SAFELY. DO NOT GIVE OUT PERSONAL INFORMATION TO STRANGERS. BLURB.BE WILL NEVER
    ASK
    YOU FOR YOUR PERSONAL
    INFORMATION IN A CHATROOM. BE SOCIAL AND HAVE FUN!!</p>
  <div class="chat-list-div mt-3">
    <% chatRooms.map(function(room, i){%>
    <p>
      <a style="padding-left: .5rem;" href="/chat/<%= room.toLowerCase() %>"> <%= room.toUpperCase() %>
        <span
          style="color:#007bff; padding-left: 1rem;"><%=allUsers.filter(users=>users.whichRoom == room.toLowerCase()).length%></span></a>
    </p>

    <hr id="choose-hr" />
    <%})%>
  </div>
</div>