<%-include("../partials/navbar") -%>
<div id="choose-chat">
  <% chatRooms.map((room, i)=>{%>
  <p>
    <a href="/chat/<%= room.toLowerCase() %>"> <%= room.toUpperCase() %></a>
  </p>
  <hr id="choose-hr" />
  <%})%>
</div>