<form class="container" action="/user/add_photo=<%= currentUser.id %>" method="POST" enctype="multipart/form-data"
  autocomplete="off">
  <h3 class="text-center">Edit Info</h3>
  <div class="form-group mt-3">
    <input type="text" class="form-control" name="username" placeholder="User Name" required />
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Full Name" autocomplete="new-name" required />
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="email@example.com" autocomplete="new-email"
      required />
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Enter Password" autocomplete="new-password"
      required />
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password2" placeholder="Confirm Password"
      autocomplete="new-password" required />
  </div>
  <a href="/user/<%= user.id %>">Cancel</a></p>
  <p class="btn-para"><button class="btn btn-warning">UPDATE</button>
</form>
<form class="container mt-0" action="user/<%=currentUser.id%>" method="GET">
  <p class="text-center"><button class="btn-danger btn">DELETE</button></p>
</form>