<section id="user-profile" class="container">
  <div class="container-fluid">
    <img src="<%= user.avatar %>" alt="<%= user.username %>" class="img-fluid">
  </div>
  <div class="user-info">
    <h3><%= user.name %></h3>
    <p><%= user.username %></p>
  </div>
</section>