<form action="/messages/reply/<%= message._id %>" method="POST">
  <div class="form-group">
    <p><%= message.messageBody %></p>
    <label for="replyBody">REPLY</label>
    <input type="text" name="replyBody" id="replyBody">
    <button class="btn btn-success">SEND</button>
  </div>
</form>