<div class="cookie-banner fixed-bottom">
  <h4 id="policy-header">Blurb.be Cookie Policy</h4>
  <p>
    By clicking "OK" on our website, you verify you are <span style="color: #007bff">at least the age of 18</span>
    and agree to our
    <a href="/html/cookie-policy.html" target="_blank">Cookie Policy</a></p>
  <p class="text-justify">
    Our Cookie Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use
    cookies
    on the service.
  </p>
  <p class="text-center">
    <button class="btn" id="close">OK</button>
  </p>
</div>